/* original is 1050px x 142px */
.gdbar img {
  width: 840px !important;
  height: 113.6px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 850px !important;
  height: 120px !important;
  color: blue;
}

slides > slide:not(.nobackground):before {
  width: 262.5px;
  height: 35.5px;
  background-size: 262.5px 35.5px;
}

table.rmdtable th {
  color: white;
  font-size: 18px;
  background: #3d6b78;
  background: #3d6b78;
  background: #3d6b78;
  background: #3d6b78;
  background: #3d6b78;
}

slides > slide.dark {
  background: -webkit-linear-gradient(#e4e4d7, #60bb6b, #3d6b78 82%)!important;
}

aside.gdbar {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ededed), color-stop(100%, #ededed)) no-repeat;
  background: -webkit-linear-gradient(left, #ededed, #ededed) no-repeat;
  background: -moz-linear-gradient(left, #ededed, #ededed) no-repeat;
  background: -o-linear-gradient(left, #ededed, #ededed) no-repeat;
  background: linear-gradient(left, #ededed, #ededed) no-repeat;
}